.row {
    display: flex;
    flex-direction: column;

    &--b-margin-medium {
        margin-bottom: 1rem;       
    }
    @mixin atMedium {
        flex-direction: row;

        &--b-margin-medium {
            margin-bottom: 0;
        }
        &__medium-4 {
            width:33.33%;

            &--larger {
                width: 37%;
            }
        }
        &__medium-6 {
            width:50%;
        }

        &__medium-8 {
            width: 66.66%;

            &--smaller {
                width:63%;
            }
        }
        &--gutter--large > div {
            padding-right: 65px;

            &:last-child {
                padding-right: 0;
            }
        }
        &--gutter > div {
            padding-right: 56px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &--align-center {
        align-items: center;
    }
    /* Begin equal height rules*/
    @mixin atMedium {
        &--equal-height > div {
            display: flex;

        }
    }

}
